/*---------------------------------------------------------------------------
 *  Two- and three-column layout
 */

#banner {
  margin 5px;
}

#left {
    position: absolute;
    z-index: 2;
    left: 8px;
    width: 184px;
    top: 125px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}

#right {
    position: absolute;
    z-index: 1;
    right: 8px;
    width: 184px;
    top: 125px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}

.Content3Column {
    position: absolute;
    top: 125px;
    bottom: 8px;
    left: 208px;
    right: 216px;
}

.Content2Column {
    position: absolute;
    top: 125px;
    bottom: 8px;
    left: 208px;
    right: 16px;
}

#center {
    z-index: 3;
    margin: 0px;
    border: none;
    padding-bottom: 8px;
}

/*---------------------------------------------------------------------------
 *  Bradcrumbs
 */
.xleft, #bannerLeft img {
  float:left;
}
.xright, #bannerRight {
  float:right;
}
div.clear {
  clear:both;
  visibility:hidden;
}
#breadcrumbs {
  background-image:url(../images/breadcrumbs.jpg);
  height:13px;
  padding:5px 10px 14px 20px;
}
#breadcrumbs {
  font-size:x-small;
  margin:0;
} 

/*---------------------------------------------------------------------------
 *  Default element styles
 */

body {
    padding: 0px;
    margin: 0px;
    border: 0px;

    font-family: helvetica, arial, sans-serif;
    font-size: 12px;

    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-weight: normal;
}

a:link { color: #9cf; }
a:active { color: red; }
a:hover { color: red; }
a:visited { color: black; }

iframe {
    width:100%;
    height: 800px;
    border: 0px;
}

img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

p {
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

blockquote {
    margin-bottom: 10px;
}

table {
    width:100%;
    padding-bottom: 6px;
}
td {
    font-size: 12px;
    padding: 2px;
}

th {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px;
}

th.Row {
    text-align: left;
    vertical-align: top;
}

ul, ol {
    border: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 20px;
}
tr.a {
  background-color: #7EB2E4;
}
tr.b {
  background-color: #BDD7F0;
}


/*---------------------------------------------------------------------------
 *  Page banner
 */

#banner {
    margin: 5px;
    border: 0px;
    padding: 0px;
    background-color: white;
    color: #06c;
    vertical-align: bottom;
}

#banner a { text-decoration: none; }
#banner a:visited { color: #9cf; }
#banner a:hover { color: red; }
#banner a:active { color: red; }

#versions {
    position: absolute;
    width: auto;
    right: 0px;
    top: 0px;
    margin: 8px;
    font-weight: normal;
}

/*---------------------------------------------------------------------------
 *  Page content
 */

#content {
    margin: 0px;
    background-color: white;
    color: black;
    height: 100%;
}

#content h1 {
    width: 100%;
    font-size: 18px;
    background-color: #06c;
    color: white;
    padding: 2px;
    padding-left: 6px;
    margin-top: 24px;
    margin-bottom: 12px;
}

#content .FirstChild {  /* IE doesn't understand first-child pseudoelement */
    margin-top: 0px;
}

#content a { text-decoration: underline; }
#content a:link { color: #06c; }
#content a:visited { color: #06c; }
#content a:active { color: red; }
#content a:hover { color: red; }

#content h2 {
    margin-top: 24px;
    border-top: 1px solid #99CCFF;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: bold;
    background: transparent url(../images/blue2white.jpg) repeat-y;
    padding: 2px;
}
#content h3 {
    padding-left: 13px;
    border-bottom: 1px solid #99CCFF;
}

#content li {
    margin-bottom: 6px;
}

#content th {
    background-color: #3E8BD9;
}

.Source pre {
    padding: 4px;
    font-family: courier new, monospace;
    font-size: 11px;
    border: 1px dashed #06c;
    background-color: #eeeeee;
    color: black;
}

.Source:before {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: inherit;
    line-spacing: 100%;
}

.highlight {
    background-color: #cff;
    border: 1px dotted #06c;
    padding: 5px;
}

/* The following are for images, but can also apply to div's containing images. */

#content .Float {
    float: right;
    margin-left: 8px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#content .Diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}


#content .Inline {
    display: inline;
}

ul.referenceSummary {
  list-style: none;
  font-family: monospace;
  display: inline-table;
}

.RuleOfThumb {
    font-weight: bold;
}

/*---------------------------------------------------------------------------
 *  Side panels
 */

.SidePanel {
    background-color: white;
    padding: 0px;
    font-size: 12px;
}

.SidePanel h5 { /* menugroup-headers */
    margin: 0px;
    border: 0px;
    padding: 4px;
    color: #06c;
    font-size: 12px;
    font-weight: bold;
    background: url(../images/white2blue.jpg);
}


.SidePanel a { text-decoration: none; }
.SidePanel a:link { color: #06c; }
.SidePanel a:visited { color: #06c; }
.SidePanel a:active { color: red; }
.SidePanel a:hover { color: red; }

/*---------------------------------------------------------------------------
 *  Menus
 */

.MenuGroup {
    border-top: 2px solid #06c;

    margin-bottom: 8px;
    background: white;
	
    color: #06c;
}

.MenuGroup ul {
    margin: 0px;
    padding-left: 20px;
    list-style-type: none;
}

.MenuGroup ul ul {
 padding-left: 0px;
}

.MenuGroup li {
 padding: 2px;
 list-style-position: outside; 
}

.MenuGroup .currentLink {
  color: #06c;
}

.MenuGroup li.collapsed {
 list-style-image: url(../images/arrow_blue_collapsed.png);
}

.MenuGroup li.expanded {
 list-style-image: url(../images/arrow_blue_expanded.png);
}
.MenuGroup li.expanded ul {
 margin-left: 5px;
}
.MenuGroup li.none {
 list-style-image: none;
}

/*---------------------------------------------------------------------------
 *  News panel
 */

.NewsGroup {
    border-left: 1px solid #06c;
    border-top: 1px solid #06c;
    border-bottom: 1px solid white; /* IE workaround */
    margin-bottom: 8px;

    color: #06c;
}

.NewsItem {
    margin: 4px;
}

.NewsDate {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.NewsText {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.NewsText a { text-decoration: underline; }
.NewsText a:link { color: #06c; }
.NewsText a:visited { color: #06c; }
.NewsText a:active { color: red; }
.NewsText a:hover { color: red; }

.NewsMore {
    font-size: smaller;
    margin: 4px;
    margin-top: 8px;
    text-align: left;
}

.NewsGroup td {
    font-size: 12px;
}

/*---------------------------------------------------------------------------
 *  Document meta-information
 */

.Meta {
    margin-top: 64px;
    font-size: smaller;
    color: #C0C0C0;
    text-align: right;
}

.Meta a { text-decoration: underline; }
.Meta a:link { color: #C0C0C0; }
.Meta a:visited { color: #C0C0C0; }
.Meta a:active { color: red; }
.Meta a:hover { color: red; }